<div class="containter">

	<div class="col-sm-6">

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Город</th>
					<th>Районы</th>
					<th class="text-right"><span ng-click="createCity()" class="glyphicon glyphicon-plus" uib-tooltip="Создать"> </span></th>
				</tr>
			</thead>
			<tbody>

				<tr ng-repeat="city in cities | orderBy:'city_name'" ng-class="{selected: ctrl.selectedCity == city}" ng-click="ctrl.selectedCity = city;"
				 style="cursor: pointer;">
					<td>{{city.city_name}} </td>
					<td>{{city.districts.length}}</td>
					<td class="text-right">

						<span ng-click="setCity(city); $event.stopPropagation();" class="glyphicon glyphicon-pencil" uib-tooltip="Изменить"> </span>
						<span ng-click="deleteCity(city.city_id, city.city_name); $event.stopPropagation();" class="glyphicon glyphicon-remove" uib-tooltip="Удалить"> </span>
					</td>
				</tr>
			</tbody>
		</table>

	</div>



	<div class="col-sm-6">

		<table class="table table-hover" ng-if="ctrl.selectedCity">
			<thead>
				<tr>
					<th>Район</th>
					<th>Население, чел</th>
					<th class="text-right"><span ng-click="createDistrict()" class="glyphicon glyphicon-plus" uib-tooltip="Создать"> </span></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="district in ctrl.selectedCity.districts | orderBy:'name'">
					<td>{{district.name}}</td>
					<td>{{district.population}}</td>
					<td class="text-right">
						<span ng-click="setDistrict(district, ctrl.selectedCity)" class="glyphicon glyphicon-pencil" uib-tooltip="Изменить"> </span>
						<span ng-click="deleteDistrict(district.district_id, district.name)" class="glyphicon glyphicon-remove" uib-tooltip="Удалить"> </span>
					</td>
				</tr>
			</tbody>
		</table>

	</div>



</div>



