<div class="containter">

	<div class="col-sm-12" style="height: 400px;">
		<map points="cities" selected="selected(index)"></map>
	</div>

	<div class="col-sm-12">

		<table class="table table-hover">
			<thead>
				<tr>
					<th class="sortColumn">
						<a href="" ng-click="toggleSortColumn('name')">Город</a>
						<span ng-if="sortColumn=='name' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes pull-right"> </span>
						<span ng-if="sortColumn=='name' && sortReverse" class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right"> </span>
					</th>
					<th class="sortColumn">
						<a href="" ng-click="toggleSortColumn('population')">Общее население, чел.</a>
						<span ng-if="sortColumn=='population' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes pull-right"> </span>
						<span ng-if="sortColumn=='population' && sortReverse" class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right"> </span>
					</th>
					<th>Районы</th>
				</tr>
			</thead>
			<tbody>

				<tr style="cursor: pointer;" ng-repeat="city in cities | orderBy:sortModes[sortColumn]:sortReverse" ng-class="{selected: ctrl.selectedCity == city}"
				 ng-click="ctrl.selectedCity = city;">
					<td>{{city.city_name}} </td>
					<td>{{getPop(city)}}</td>
					<td>
						<span ng-if="ctrl.selectedCity != city">&hellip;</span>

						<ul ng-if="ctrl.selectedCity == city">
							<li ng-repeat="district in city.districts | orderBy:'name'">
								{{district.name}}: {{district.population}} чел.
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>

	</div>






</div>