<form ng-submit="saveCity()">
	<div class="modal-header"><span ng-if="!editMode">Создание</span><span ng-if="editMode">Редактирование</span> города {{city.name}}</div>
	<div class="modal-body">

		<div class="row">
			<div class="col-xs-12 form-group">
				<label>Название города</label>
				<input ng-disabled="saved" type="text" class="form-control" ng-model="city.name" autocomplete="off" placeholder="Название города" />
			</div>

			<div class="col-xs-6 form-group">
				<label>Широта, десятичные градусы</label>
				<input ng-disabled="saved" type="text" class="form-control" ng-model-options="{ debounce: 500 }" ng-model="city.lat" autocomplete="off" placeholder="Широта"
				/>
			</div>

			<div class="col-xs-6 form-group">
				<label>Долгота, десятичные градусы</label>
				<input ng-disabled="saved" type="text" class="form-control" ng-model-options="{ debounce: 500 }" ng-model="city.lon" autocomplete="off" placeholder="Долгота"
				/>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 form-group" style="height: 200px;">
				<map-point-picker lat="city.lat" lon="city.lon" clicked="setPoint(lat, lon)"></map-point-picker>
				<p style="font-size: 10px;">Можно кликом установить маркер или переустановить его в другое место.</p>
			</div>
			
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div ng-if="saved" class="alert alert-success">Данные успешно сохранены!</div>
			</div>
		</div>

	</div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-if="saved && !editMode" ng-click="oneMore()">Добавить ещё один</button>
		<button class="btn btn-primary" ng-if="!saved" type="submit" ng-disabled="!valid">Сохранить</button>
		<button class="btn btn-default" type="button" ng-click="cancel()"><span ng-if="!saved">Отмена</span><span ng-if="saved">Закрыть</span></button>

	</div>
</form>